<div class="modal-header">
  <div class="modal-title"><h2>Edit object</h2></div>
</div>

<div class="modal-body">
  <form (ngSubmit)="submit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <textarea class="form-control" id="name" [(ngModel)]="objectPatch.name" name="name" required></textarea>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-success">Update</button>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
</div>

