﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
  <div class="container">
  <div class="navbar-brand">TaskManagerClient</div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item text-light pt-2 pr-5" *ngIf="currentUser">Logged in as {{currentUser.name}} {{currentUser.surname}},  {{currentUser.roleCode}}</li>
    <li><a class="nav-item nav-link" routerLink="/">Home</a></li>
    <li *ngIf="authenticationService.isUserLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
  </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>


