/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.status-sm {
  text-transform: uppercase;
  font-size: 14pt;
  text-align: center;
  text-shadow: 0.05rem 0.05rem #a3a3a3;
}

.status {
  text-transform: uppercase;
  font-size: 18pt;
  text-align: center;
  text-shadow: 0.05rem 0.05rem #a3a3a3;
}

.status-FIN {
  color: #21b65f;
}

.status-OPN {
  color: #369ab6;
}

.status-PRO {
  color: #cc7911;
}

.status-CAN {
  color: #b62d2b;
}
