<div class="modal-header">
  <div class="modal-title"><h2>Update user</h2></div>
</div>

<form (ngSubmit)="submit()" #form="ngForm">
  <div class="modal-body">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="userPatch.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" [(ngModel)]="userPatch.surname" name="surname" required>
    </div>

    <div class="form-group">
      <label for="password">New password (leave blank for old password)</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="userPatch.password" name="password">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="userPatch.email" name="email" required>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="role" [(ngModel)]="userPatch.roleCode" name="roleCode">
        <option class="form-control-range" [value]="null">Empty (inactive user)</option>
        <option class="form-control-range" *ngFor="let role of roles$ | async" [hidden]="role.code === 'ADM'" [value]="role.code">{{role.name}}</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="form.invalid" class="btn btn-success">Submit</button>
    <button class="btn btn-danger" (click)="modal.dismiss()">Cancel</button>
  </div>
</form>

